/.buildNumber
/.com.mslv.studio.provisioning.buildDelta
/automation/
/bin/
/cartridgeBin/
/cartridgeBuild/
/doc/
/generated/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/out/
/cartridgeBin/
/cartridgeBuild
/out/
/out/
/out/
/out/
/out/
/out/
/out/
